.h1 {
    
    display:flexbox;
    background-color: black;
    text-align: center;
    position: relative;
    color: rgb(58, 119, 225);
    height: 100px;
    padding: 27px;
    margin: 0px;
}


.p1 {

    /* background-color: crimson; */
    margin: 50px;

}

.p2{

    margin: 50px;
    text-orientation: upright;

}

.p3 {
    
    font-family:'Times New Roman';
    
    
}

.trivia_project{
    width: 1110px;
    
    margin: 50px;
   
}
 .topnav {
    display: flexbox;
    background-color: rgb(11, 11, 11);
    overflow:hidden;
    padding: left;
    margin-bottom:0px;
  
    padding:0px;
    border: 0px;
    margin: 0px;
    
 
}

.topnav a {
    float: left;
    color: rgb(58, 119, 225);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.topnav a:hover {
    background-color: rgb(139, 36, 36);
    color: red;
}

.topnac a.active {

    background-color: #04aa6d;
    color:red;
}
